

<meta charset="utf-8" />
	<title>@(Content.Has.SeoTitle ? Content.Data.SeoTitle : Content.Data.Title)</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
@*<meta name="viewport" content="width=device-width, user-scalable=no" /> recomended for metro panel *@
@Content.Register.Meta("Author").Container("Metadata").Display()
@Content.Register.Meta("Keywords").Container("Metadata").Display()
@Content.Register.Meta("Description").Container("Metadata").Display()
<link rel="shortcut icon" href="@Url.ThemedContent("~/favicon.ico")" />
<link rel="canonical" href="@(Content.Data.Url ?? Request.RawUrl)" />
	<!-- BEGIN GLOBAL MANDATORY STYLES -->

@System.Web.Optimization.Styles.Render("~/content/css")

@if (Request.Cookies["themecolor"] != null)
{
    @System.Web.Optimization.Styles.Render("~/content/" + Request.Cookies["themecolor"].Value )
}
else
{
    @System.Web.Optimization.Styles.Render("~/content/light")
}

	<!-- END GLOBAL MANDATORY STYLES -->