@{
    
    var page = N2.Content.Current.Page;
    var version = ViewBag.LatestDraftVersion;

    var isViewingUnpublishedDraft = ViewBag.LatestDraftVersion > ViewBag.PublishedVersion && (page.RewrittenUrl == Request.Url.PathAndQuery);
    var isViewingDraftAndLaterVersionExists = ViewBag.LatestDraftVersion > ViewBag.PublishedVersion & !isViewingUnpublishedDraft;

    //N2.Security.ISecurityManager security = Engine.SecurityManager;
    Roles.DeleteRole("test5");
    var isEditor = Roles.IsUserInRole("Editors");
    //string url = string.Empty;

    //if (item.VersionOf.HasValue)
    //{
    //    //url = Url.ToAbsolute(ManagementPaths.GetEditExistingItemUrl(page.VersionOf));
    //}
    //else
    //{
    //    var page = N2.Find.ClosestPage(item);
    //    var version = Engine.Resolve<N2.Edit.Versioning.DraftRepository>().FindDrafts(page).FirstOrDefault();
    //    if (version != null && version.Saved > page.Updated)
    //    {
    //        //DisplayThisHasNewerVersionInfo(version.Version.FindPartVersion(item));
    //        url = Url.ToAbsolute(ManagementPaths.GetEditExistingItemUrl(version.Version.FindPartVersion(page)));
    //    }
    //}
    
}
@if(isEditor)
{
<div class="page-message">
    @if (isViewingDraftAndLaterVersionExists)
    {
        <a class="btn purple big btn-block" href="@ViewBag.PublishedUrl">Warning, there is a newer draft of this page, click to see the newer version (version @ViewBag.LatestDraftVersion)<i class="m-icon-big-swapright m-icon-white"></i></a>
    }

    @if(isViewingUnpublishedDraft)
    {
        <a class="btn yellow big btn-block" href="@ViewBag.PublishedUrl">Warning this is a draft, click to see current published version (version @ViewBag.PublishedVersion)<i class="m-icon-big-swapright m-icon-white"></i></a>
        <a class="btn green big btn-block publish-page" data-url="@Html.Raw("/languages" + @page.Url + "/")" data-version-index="@version" href="#">Click to publish this version (version @ViewBag.LatestDraftVersion)<i class="m-icon-big-swapright m-icon-white"></i></a>
    }
    </div>
}